@import "../components/mixins";
.app {
  &__text {
    @include display;
    justify-content: center;
  }
  &__heading {
    font-size: var(--font-size-42);
    margin-bottom: 2rem;
  }
  &__buttons {
    @include display(flex, row);
    gap: calc(var(--default-padding) + 1rem);
  }
  &__pic {
    max-width: 100%;
  }
}
