:root {
    --blue-color: #5368df;
    --white-color: #fff;
    --black-color: #000;
    --color-very-dark-blue: #252b46;
    --color-grayish-blue: #9194a1;
    --color-soft-red: #fa5757;
    --color-off-white: #f7f7f7;
    --footer-color: #252b46;
    --font-family: "Rubik", sans-serif;
    --transition-timing: 0.3s;
    --default-padding: 2rem;
    --default-raduis: 0.4rem;
    --desktop-width: 900px;
    --desktop-width: 900px;
    --tablet-width: 600px;
    --font-size-12: 1.2rem;
    --font-size-14: 1.4rem;
    --font-size-16: 1.6rem;
    --font-size-18: 1.8rem;
    --font-size-20: 2rem;
    --font-size-22: 2.2rem;
    --font-size-24: 2.4rem;
    --font-size-26: 2.6rem;
    --font-size-30: 3rem;
    --font-size-32: 3.2rem;
    --font-size-34: 3.4rem;
    --font-size-42: 4.2rem;
  }